body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
.navbar{
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #21242E;
}
.navbar-brand{
  color: #E72C30;
}
.navbar-brand:hover{
  color: #E72C30;
}
.navbar-nav a{
  color: #8E8F94 !important;
  font-size: 0.9rem;
  font-weight: 600;
}
.navbar-nav a:hover{
  color: #E72C30 !important;
}
.search-txt{
  width: 0;
  outline: none;
  border: none;
  color: white !important;
  background: none;
  padding: 0px;
  font-size: 0.8rem;
  transition: 0.4s ease-in-out;
}
.searchbox:hover > .search-txt{
  width: 100px;
  transition: 0.4s ease-in-out;
  padding: 4px 10px;
}
#search-btn{
  color: rgb(205, 206, 211) ;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.searchbox{
  height: 30px;
  border-radius: 30px;
  background: #E72C30;
}
.dropdown-menu{
  font-size: 11px !important;
  min-width: 0 !important;
  background: #8E8F94;
}
.dropdown-menu a:hover{
  color: #E72C30;
  background-color: #8E8F94;
}
.navbar-toggler i{
  color: #E72C30;
}
#musicPlayer{
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color:#21242E;
  height: 60px;
}
.songInfo{
  color: white;
  display: flex;
  margin-left: 10px;
  width: 25vw;
}
.songInfo img{
  height: 60px;
  width: 60px;
  padding: 10px 0;
}
.songInfo .icons{
  display: flex;
  align-items: center;
}
.songInfo .icons i{
  padding: 5px;
}
#songData{
  margin-left: 10px;
  margin: auto auto auto 10px;
}
#songData p{
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#songData p:nth-of-type(2){
  font-size: 10px;
}
.player{
  width: 50vw;
  margin: auto 0;
}
.player i{
  color: white;
  padding: 5px;
}
.player #trackLength{
  width: 300px;
}
.others{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.others i{
  color: white;
  padding: 5px;
}
.others #trackLength{
  margin-top: 7px;
  width: 80px;
  background-color: red !important;
}

@media(max-width:991px){
  .searchbox{
    display: none;
  }
}